<mat-dialog-content>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <!-- Sign In Tab -->
    <mat-tab label="Sign In">
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required type="password" />
        </mat-form-field>
      </form>
    </mat-tab>
    <!-- Sign Up Tab -->
    <mat-tab label="Sign Up">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
      </form>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
      </form>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <mat-form-field class="w-full">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" required />
        </mat-form-field>
      </form>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required type="password" />
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  @if (selectedTabIndex === 0) {
  <button mat-button (click)="onSignIn()">Sign In</button>
  } @else {
  <button mat-button (click)="onSignUp()">Sign Up</button>
  }
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
